html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp, small,
strike, strong, sub, sup, tt, var, b, i,
dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button, button:active, button:focus,
input, input:active, input:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

.clearfix:after, .recommendations__right:after, .goods__item:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix:before, .recommendations__right:before, .goods__item:before {
  content: '';
  display: table;
}

/*buttons*/
.yellow-btn {
  display: inline-block;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.22);
}

.yellow-btn a, .yellow-btn input {
  padding: 12px 20px;
  border-radius: 0 0 2px 2px;
  display: inline-block;
  color: #1e1e1e;
  font-size: 14px;
  font-family: "OpenSansSemibold", sans-serif;
  background: #f1cf07;
  background: -moz-linear-gradient(top, #f1cf07 0%, #ffb600 100%);
  background: -webkit-linear-gradient(top, #f1cf07 0%, #ffb600 100%);
  background: linear-gradient(to bottom, #f1cf07 0%, #ffb600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1cf07', endColorstr='#ffb600',GradientType=0 );
  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
}

.yellow-btn a:hover, .yellow-btn a:focus, .yellow-btn input:hover, .yellow-btn input:focus {
  text-decoration: none;
}

.yellow-big-btn {
  display: inline-block;
  -webkit-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.22);
}

.yellow-big-btn a, .yellow-big-btn input {
  padding: 20px 85px;
  border-radius: 0 0 3px 3px;
  display: inline-block;
  color: #1e1e1e;
  font-size: 24px;
  font-family: "OpenSansSemibold", sans-serif;
  background: #f1cf07;
  background: -moz-linear-gradient(top, #f1cf07 0%, #ffb600 100%);
  background: -webkit-linear-gradient(top, #f1cf07 0%, #ffb600 100%);
  background: linear-gradient(to bottom, #f1cf07 0%, #ffb600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1cf07', endColorstr='#ffb600',GradientType=0 );
  -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.2);
  border: none !important;
}

.yellow-big-btn a:hover, .yellow-big-btn a:focus, .yellow-big-btn input:hover, .yellow-big-btn input:focus {
  text-decoration: none;
}

.up-button {
  position: fixed;
  right: 120px;
  bottom: 0;
  display: none;
  z-index: 90;
}

.up-button button, .up-button input {
  width: 68px;
  height: 68px;
  display: block;
  background-color: #ffd800;
  border: 1px solid #ffd800;
  background-image: url(../img/icon/up.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/*titles*/
.block-title {
  text-align: center;
  padding: 58px 0 38px;
}

.block-title h2 {
  display: inline-block;
  font-size: 36px;
  line-height: 38px;
  color: #000;
  font-family: "OpenSansLight", sans-serif;
}

.p-top-line__title {
  display: block;
  text-align: left;
}

.p-top-line__title h2 {
  display: inline-block;
  color: #000;
  font-size: 36px;
  line-height: 36px;
  font-family: "OpenSansSemibold", sans-serif;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.25;
  font-family: "OpenSansRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
}

.hidden {
  display: none;
}

.header__top-line {
  height: 70px;
  background-color: rgba(1, 2, 18, 0.65);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.header__scrol {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(1, 2, 18, 0.88);
  height: 70px;
  z-index: 10;
  display: none;
}

.header__h-bg {
  height: 304px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.header__h-bg::after {
  content: '';
  height: 301px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/top-grad.png);
  background-repeat: x-repeat;
  z-index: 1;
}

.top-line__h-phone {
  position: absolute;
  width: 430px;
  right: 0;
  top: 70px;
  padding-top: 20px;
}

.h-logo {
  height: 70px;
  position: relative;
}

.h-logo__link {
  background-color: #153464;
  display: block;
  padding: 18px 14px;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
}

.h-logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.s-logo {
  height: 70px;
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.s-logo__link {
  display: inline-block;
}

.s-logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.h-nav {
  font-size: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.h-nav__item {
  display: inline-block;
}

.h-nav__item-active .h-nav__link {
  border-bottom-color: #fecc00;
  color: #fecc00;
  text-decoration: none;
}

.h-nav__link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 70px;
  line-height: 62px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  font-family: "OpenSansBold", sans-serif;
}

.h-nav__link:hover, .h-nav__link:focus {
  border-bottom-color: #fecc00;
  color: #fecc00;
  text-decoration: none;
}

.h-phone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.h-phone__item {
  display: inline-block;
}

.h-phone__item span {
  color: #fff;
  font-size: 24px;
  line-height: 18px;
  font-family: "OpenSansBold", sans-serif;
}

.h-phone__button {
  text-align: right;
  padding-top: 18px;
}

.h-slider {
  overflow: hidden;
}

.h-slider__item {
  overflow: hidden;
  height: 795px;
  text-align: center;
  position: relative;
}

.h-slider__item::after {
  content: '';
  height: 301px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/top-grad.png);
  background-repeat: x-repeat;
  z-index: 1;
}

.h-slider__item img {
  display: inline-block;
  min-height: 795px;
  min-width: 100%;
}

.h-slider__tags {
  position: absolute;
  left: 0;
  bottom: 142px;
  background-color: rgba(0, 16, 64, 0.82);
  height: 105px;
}

.h-slider__tags-wp {
  position: relative;
  padding-left: 60px;
  padding-right: 55px;
}

.h-slider__tags-wp::after {
  content: '';
  height: 105px;
  width: 51px;
  background-image: url(../img/angle.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  right: -51px;
  top: 0;
}

.h-slider__tags span {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 105px;
}

.h-slider .slick-arrow {
  height: 104px;
  width: 58px;
  text-indent: -9999px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.77);
  position: absolute;
  top: 50%;
  margin-top: -52px;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 10;
}

.h-slider .slick-prev {
  background-image: url(../img/h-arrow-left.png);
  left: 0;
}

.h-slider .slick-next {
  background-image: url(../img/h-arrow-right.png);
  right: 0;
}

.h-slider .slick-dots {
  font-size: 0;
  position: absolute;
  bottom: 92px;
  left: 0;
  right: 0;
  text-align: center;
}

.h-slider .slick-dots li {
  display: inline-block;
  border: 1px solid transparent;
  margin: 0 5px;
}

.h-slider .slick-dots li:hover button {
  background-color: #fefefe;
}

.h-slider .slick-dots li button {
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 12px;
  border: 1px solid transparent;
  background-color: rgba(254, 254, 254, 0.55);
}

.h-slider .slick-dots .slick-active {
  border-color: #fefefe !important;
}

.h-slider .slick-dots .slick-active button {
  border-color: #40444c !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fdc601+0,f9a00a+100 */
  background: #fdc601;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdc601 0%, #f9a00a 100%);
  background: -webkit-linear-gradient(top, #fdc601 0%, #f9a00a 100%);
  background: linear-gradient(to bottom, #fdc601 0%, #f9a00a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdc601', endColorstr='#f9a00a',GradientType=0 );
}

.page__tands {
  background-color: #ededed;
  margin-bottom: 120px;
  position: relative;
}

.page__tands::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 120px;
  background-image: url(../img/trg.png);
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  z-index: -1;
}

.page__other-products {
  padding-bottom: 30px;
}

.page__whycu {
  background-color: #ededed;
  padding-bottom: 54px;
}

.page__supply {
  padding-bottom: 100px;
}

.page__interesting-offers {
  background-color: #1a2025;
  overflow: hidden;
}

.page__c-reviews {
  background-color: #ebebeb;
}

.page__p-top-line {
  padding: 14px 0;
  background-color: #fff;
}

.page__about-description {
  background-color: #ededed;
  padding-top: 30px;
  padding-bottom: 150px;
}

.page__p-goods {
  padding-top: 600px;
  background-image: url(../img/1.jpg);
  background-position: top center;
  background-color: #ededed;
  margin-top: -600px;
  background-repeat: no-repeat;
  padding-bottom: 150px;
}

.recommendations {
  -webkit-box-shadow: 0px 5px 70px 0px rgba(13, 24, 42, 0.28);
  -moz-box-shadow: 0px 5px 70px 0px rgba(13, 24, 42, 0.28);
  box-shadow: 0px 5px 70px 0px rgba(13, 24, 42, 0.28);
  margin-top: -60px;
}

.recommendations__item {
  height: 112px;
  background-color: #ffd800;
  display: block;
}

.recommendations__left {
  width: 147px;
  float: left;
  height: 112px;
  position: relative;
  background-color: #153464;
}

.recommendations__left::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 56px 112px 0;
  border-color: transparent #ffd800 transparent transparent;
  right: 0;
  top: 0;
}

.recommendations__left img {
  position: absolute;
  left: 22px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.recommendations__right {
  position: relative;
  margin-left: 147px;
}

.recommendations__text {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.recommendations__text span {
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  line-height: 24px;
  font-family: "OpenSansSemibold", sans-serif;
  display: block;
}

.tands__item {
  margin-bottom: 50px;
}

.tands__link {
  display: block;
}

.tands__link:hover .tands__title b {
  text-decoration: underline;
  color: #1270c7;
}

.tands__img {
  height: 158px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.tands__img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.tands__title {
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.tands__title b {
  display: inline-block;
  color: #000;
  font-size: 18px;
  font-family: "OpenSansLight", sans-serif;
  line-height: 1.2;
}

.whycu__item {
  position: relative;
}

.whycu__item::after {
  content: '';
  height: 4px;
  width: 109px;
  background-color: #feb900;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.whycu__title {
  height: 88px;
}

.whycu__title strong {
  display: inline-block;
  color: #323232;
  font-size: 100px;
  font-family: "OpenSansBold", sans-serif;
  line-height: 88px;
  padding-right: 8px;
}

.whycu__title span {
  display: block;
  font-size: 36px;
  line-height: 36px;
  color: #323232;
  font-family: "OpenSansLight", sans-serif;
  vertical-align: middle;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.whycu__bottom {
  text-align: center;
  padding: 30px 0;
}

.whycu__bottom p {
  display: inline-block;
  color: #777;
  font-size: 16px;
  line-height: 22px;
  font-family: "OpenSansLight", sans-serif;
}

.supply__text p {
  color: #636363;
  font-size: 16px;
  font-family: "OpenSansLight", sans-serif;
  line-height: 24px;
}

.supply__img {
  width: 100%;
  vertical-align: middle;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: -50px;
}

.supply__img img {
  display: block;
  max-width: 100%;
}

.supply__description b {
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSansBold", sans-serif;
  display: block;
}

.supply__description ul li {
  font-size: 16px;
  line-height: 24px;
  color: #636363;
  font-family: "OpenSansLight", sans-serif;
  display: block;
  padding-left: 20px;
  position: relative;
}

.supply__description ul li::before {
  content: '';
  width: 9px;
  height: 9px;
  background-color: #1571a1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  position: absolute;
  left: 4px;
  top: 10px;
}

.supply__description p {
  font-size: 16px;
  line-height: 24px;
  color: #636363;
  font-family: "OpenSansLight", sans-serif;
  display: block;
}

.supply__description a {
  color: #0099d1;
  text-decoration: underline;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSansBold", sans-serif;
  display: inline-block;
}

.supply__description a:hover, .supply__description a:active, .supply__description a:focus {
  color: #0099d1;
  text-decoration: none;
}

.i-slider {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
  width: auto;
}

.i-slider .slick-list {
  overflow: visible;
}

.i-slider__item {
  margin: 0 15px;
  opacity: 0.24;
}

.i-slider .slick-active {
  opacity: 1;
}

.i-slider__link {
  display: block;
  position: relative;
}

.i-slider__img {
  height: 225px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.i-slider__img img {
  width: auto;
  min-height: 100%;
  display: block;
}

.i-slider__description {
  padding: 18px 0;
}

.i-slider__title {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-family: "OpenSansBold", sans-serif;
  display: block;
  text-align: center;
}

.i-slider__sub-title {
  color: #939393;
  font-size: 18px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
  display: block;
  text-align: center;
}

.i-slider__price {
  color: #2595be;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansBold", sans-serif;
  display: block;
  text-align: center;
}

.i-slider__button {
  text-align: center;
  padding-bottom: 70px;
}

.i-slider__cou {
  position: absolute;
  right: -18px;
  top: -30px;
}

.c-slider {
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}

.c-slider__item {
  background-color: #fff;
  margin: 0 15px;
  padding: 0 20px 36px;
}

.c-slider__top {
  height: 102px;
  padding-left: 90px;
  box-sizing: border-box;
  position: relative;
}

.c-slider__icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 102px;
  overflow: hidden;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.c-slider__icon img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.c-slider__name {
  position: relative;
  height: 102px;
}

.c-slider__name b {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-family: "OpenSansBold", sans-serif;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.c-slider__description p {
  color: #797979;
  font-size: 14px;
  line-height: 22px;
}

.c-slider .slick-dots {
  font-size: 0;
  text-align: center;
  display: block;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 80px;
}

.c-slider .slick-dots .slick-active button {
  position: relative;
}

.c-slider .slick-dots .slick-active button::after {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #ffd800;
  position: absolute;
  left: 2px;
  top: 2px;
}

.c-slider .slick-dots li {
  display: inline-block;
  padding: 0 8px;
}

.c-slider .slick-dots li button {
  text-indent: -9999px;
  padding: 0;
  margin: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid #d4d4d4;
  background-color: #fff;
}

.semi-trailers__img {
  display: block;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  min-height: 228px;
}

.semi-trailers__img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.overview {
  margin-bottom: 150px;
}

.overview__video iframe {
  width: 100%;
  height: 510px;
}

.footer__consultation {
  height: 238px;
  background-image: url(../img/footer-top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.footer__consultation::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 134, 176, 0.9);
}

.footer__nav {
  background-color: #153464;
}

.footer__info {
  background-color: #1a2025;
  padding: 50px 0;
}

.consultation {
  margin-left: -30px;
}

.consultation__girl {
  position: relative;
  height: 238px;
  z-index: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.consultation__girl::before {
  content: '';
  width: 245px;
  height: 323px;
  background-image: url(../img/footer-girl.png);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 1;
}

.consultation__title b {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-family: "OpenSansLight", sans-serif;
}

.consultation__item {
  font-size: 36px;
  color: #fff;
  line-height: 52px;
  font-family: "OpenSansSemibold", sans-serif;
  position: relative;
  padding-left: 50px;
  display: inline-block;
}

.consultation__item::before {
  content: '';
  width: 33px;
  height: 33px;
  display: block;
  background-image: url(../img/icon/phone.png);
  background-repeat: no-repeat;
  background-position: center center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.f-nav {
  font-size: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  height: 70px;
}

.f-nav__item {
  display: inline-block;
}

.f-nav__item-active .f-nav__link {
  border-bottom-color: #1b8db7;
  color: #1b8db7;
  text-decoration: none;
}

.f-nav__link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 70px;
  line-height: 62px;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  font-family: "OpenSansBold", sans-serif;
}

.f-nav__link:hover, .f-nav__link:focus {
  border-bottom-color: #1b8db7;
  color: #1b8db7;
  text-decoration: none;
}

.f-info__first b {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
  display: block;
}

.f-info__first span {
  display: block;
  color: #85afbe;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
}

.f-info__second b {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
  display: inline-block;
}

.f-info__second span {
  display: inline-block;
  color: #85afbe;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
}

.f-info__second a {
  display: inline-block;
  color: #0099d1;
  font-size: 14px;
  line-height: 14px;
  font-family: "OpenSansLight", sans-serif;
  border-bottom: 1px dotted #0099d1;
}

.f-info__second a:hover {
  color: #0099d1;
  text-decoration: none;
  border-color: transparent;
}

.f-info__third b {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
  display: inline-block;
}

.f-info__third span {
  display: inline-block;
  color: #85afbe;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
}

.f-info__third a {
  display: inline-block;
  color: #0099d1;
  font-size: 14px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
  text-decoration: underline;
}

.f-info__third a:hover {
  color: #0099d1;
  text-decoration: none;
}

.popup__bg {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 991;
  display: none;
}

.cb-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 424px;
  margin: 0 auto;
  z-index: 999;
  display: none;
}

.cb-popup__wrapper {
  position: relative;
  background-color: #fff;
  padding: 16px 30px;
}

.cb-popup__wrapper::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 80px 80px 0;
  border-color: transparent #ececec transparent transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.cb-popup__close {
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 8px;
}

.cb-popup__close button {
  display: block;
  width: 19px;
  height: 20px;
  background-image: url(../img/icon/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  background-color: transparent;
}

.cb-popup__title {
  text-align: center;
}

.cb-popup__title b {
  display: inline-block;
  font-size: 36px;
  line-height: 30px;
  font-family: "OpenSansSemibold", sans-serif;
  color: #000;
}

.cb-popup__description {
  text-align: center;
  padding: 12px 0;
}

.cb-popup__description p {
  color: #777;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}

.cb-popup__row {
  margin-bottom: 10px;
}

.cb-popup__row input {
  height: 50px;
  display: block;
  width: 100%;
  border: 1px solid #dfdfdf;
  padding-left: 46px;
  padding-right: 15px;
  font-size: 18px;
}

.cb-popup__row textarea {
  display: block;
  height: 138px;
  border: 1px solid #dfdfdf;
  resize: none;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  margin-bottom: 25px;
}

.cb-popup__name {
  position: relative;
}

.cb-popup__name::after {
  content: '';
  width: 26px;
  height: 26px;
  background-image: url(../img/icon/name.png);
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 11px;
}

.cb-popup__phone {
  position: relative;
}

.cb-popup__phone::after {
  content: '';
  width: 21px;
  height: 23px;
  background-image: url(../img/icon/f-phone.png);
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  left: 15px;
}

.p-top-line__right {
  text-align: right;
}

.navi {
  font-size: 0;
}

.navi__item {
  display: inline-block;
  padding-left: 20px;
  background-image: url(../img/icon/ar.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
}

.navi__item-index {
  padding-left: 18px;
  display: inline-block;
  background-image: url(../img/icon/home.png);
  background-repeat: no-repeat;
  background-position: left center;
  margin: 10px 0;
}

.navi__link {
  color: #777;
  text-decoration: underline;
  font-family: "OpenSansLight", sans-serif;
  font-size: 14px;
  display: block;
}

.navi__link:hover {
  text-decoration: none;
  color: #777;
}

.about-description .flex-cont {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.about-description p {
  font-size: 16px;
  line-height: 24px;
  color: #636363;
  display: inline-block;
}

.about-description h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "OpenSansSemibold", sans-serif;
  color: #000;
}

.about-description img {
  max-width: 95%;
  height: auto;
}

.about-description .d-document {
  text-align: right;
  margin-top: 0;
}

.about-description .d-document img {
  display: inline-block;
}

.about-description .d-document-1 {
  text-align: right;
  margin-top: -184px;
}

.about-description .d-document-1 img {
  display: inline-block;
}

.about-description ul {
  display: block;
}

.about-description ul li {
  color: #636363;
  font-size: 16px;
  line-height: 24px;
  padding-left: 30px;
  display: block;
  position: relative;
}

.about-description ul li::before {
  content: '';
  background-color: #0098d0;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  position: absolute;
  left: 8px;
  top: 8px;
}

.about-description b {
  font-size: 24px;
  line-height: 24px;
  color: #000;
  font-family: "OpenSansSemibold", sans-serif;
  display: block;
}

.about-description strong {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: "OpenSansBold", sans-serif;
}

.about-description a {
  color: #0098d0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  font-family: "OpenSansLight", sans-serif;
  display: inline-block;
}

.about-description a:hover {
  text-decoration: none;
  color: #0098d0;
}

.about-description .img-wp {
  padding: 70px 0;
  display: block;
  text-align: center;
}

.about-description .img-wp img {
  display: inline-block;
  max-width: 100%;
}

.about-description .img-left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.about-description .img-left img {
  max-width: 95%;
  height: auto;
}

.about-description .img-block {
  position: relative;
}

.about-description .video-wp {
  padding: 50px 0;
}

.about-description .video-wp iframe {
  display: block;
  width: 100%;
  height: 420px;
}

.about-description .white-block {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
}

.about-description .white-block h2 {
  font-size: 24px;
  line-height: 30px;
  font-family: "OpenSansSemibold", sans-serif;
  color: #000;
}

.about-description .white-block ul li {
  padding-left: 22px;
}

.about-description .white-block ul li::before {
  left: 0;
}

.about-description .white-block .title-block-icon {
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.about-description .white-block .title-block-icon i {
  width: 70px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: left center;
}

.about-description .white-block .title-block-icon b {
  display: block;
  line-height: 30px;
}

.about-description .white-block__row {
  padding-left: 116px;
  position: relative;
}

.about-description .white-block__img {
  width: 116px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.page-bottom-pad {
  padding-bottom: 150px;
}

.p-top-cat {
  padding-left: 322px;
  position: relative;
  margin-bottom: 56px;
}

.p-top-cat__img {
  width: 322px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.p-top-cat__img img {
  max-width: 95%;
}

.p-top-cat__title h2 {
  color: #000;
  font-size: 24px;
  line-height: auto;
}

.p-top-cat__description {
  padding-top: 20px;
}

.p-top-cat__description p {
  color: #787878;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
}

.goods__item {
  height: 282px;
  width: 100%;
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  padding: 30px;
  position: relative;
  margin-bottom: 28px;
}

.goods__item-img {
  position: relative;
  width: 330px;
  display: block;
  float: left;
  height: 100%;
}

.goods__item-img-wp {
  width: 330px;
  overflow: hidden;
}

.goods__item-img .i-slider__cou {
  top: -22px;
  right: -18px;
}

.goods__item-img .i-slider__cou img {
  min-width: auto;
  min-height: auto;
}

.goods__item-img img {
  min-width: 100%;
  height: 100%;
}

.goods__item-description {
  padding-left: 30px;
  float: left;
}

.goods__item-title {
  padding-bottom: 10px;
}

.goods__item-title h2 {
  font-size: 24px;
  color: #000;
  line-height: auto;
  font-family: "OpenSansSemibold", sans-serif;
}

.goods__item-table-left {
  font-size: 14px;
  color: #939393;
  font-family: "OpenSansLight", sans-serif;
  padding-right: 35px;
  padding: 5px 35px 5px 0;
}

.goods__item-table-right {
  font-size: 14px;
  color: #000;
  font-family: "OpenSansLight", sans-serif;
  padding: 5px 0;
}

.goods__item-info {
  float: right;
}

.goods__item-info-price {
  height: 65px;
  background-color: #1b88b2;
  position: relative;
  padding-left: 25px;
  margin-right: -36px;
  width: 260px;
  box-sizing: border-box;
}

.goods__item-info-price::before {
  content: '';
  background-image: url(../img/goods-an.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 35px;
  height: 65px;
  position: absolute;
  left: -35px;
  top: 0;
}

.goods__item-info-price span {
  line-height: 65px;
  color: #fff;
  font-size: 24px;
  font-family: "OpenSansBold", sans-serif;
}

.goods__item-info .yellow-btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.goods-description p {
  color: #3d3d3d;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
}

.goods-description strong {
  color: #3d3d3d;
  font-family: "OpenSansBold", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.goods-description h2 {
  color: #3d3d3d;
  font-size: 24px;
  line-height: 24px;
  font-family: "OpenSansSemibold", sans-serif;
  display: block;
}

.goods-description img {
  float: right;
}

.goods-description ul li {
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  font-family: "OpenSansLight", sans-serif;
  display: block;
  padding-left: 20px;
  position: relative;
}

.goods-description ul li::before {
  content: '';
  width: 9px;
  height: 9px;
  background-color: #1571a1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
}

.leasing-item {
  padding-top: 30px;
}

.leasing-item a {
  display: block;
  height: 100px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.leasing-item a img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.about-description .contacts:first-child {
  margin-top: 0;
}

.contacts {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.14);
  padding: 30px;
  margin-top: 30px;
}

.contacts b {
  font-size: 16px;
  color: #000;
  font-family: "OpenSansSemibold", sans-serif;
  line-height: 30px;
  display: inline-block;
}

.contacts h2 {
  font-size: 24px;
  color: #000;
  line-height: 30px;
  font-family: "OpenSansSemibold", sans-serif;
}

.contacts p {
  line-height: 30px;
  font-size: 16px;
  color: #7a7a7a;
  font-family: "OpenSansLight", sans-serif;
}

.contacts__item {
  padding: 10px 0 10px 50px;
  position: relative;
}

.contacts__item i {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 90%;
}

.contacts__map {
  padding-top: 8px;
}

.contacts__map iframe {
  height: 405px;
  display: block;
  width: 100%;
}

body .about-description .c-slider-max img {
  max-width: 100% !important;
}

.c-slider-max__wrapper {
  position: relative;
}

.c-slider-max__wrapper .i-slider__cou {
  right: auto;
  left: -18px;
  z-index: 9;
  top: -18px;
}

.c-slider-max__item img {
  width: 100%;
  height: auto;
}

.c-slider-min .slick-current {
  position: relative;
}

.c-slider-min .slick-current::after {
  content: '';
  width: 96px;
  height: 65px;
  position: absolute;
  left: 7px;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  border: 3px solid #febf17;
  background-color: rgba(0, 0, 0, 0.34);
}

.c-slider-min__wrapper {
  padding: 16px 40px 0;
}

.c-slider-min__wrapper .slick-slider {
  position: relative;
}

.c-slider-min__wrapper .slick-list {
  margin-left: -3px;
}

.c-slider-min__item {
  text-align: center;
}

.c-slider-min__item img {
  display: inline-block;
}

.c-slider-min .slick-arrow {
  text-indent: -9999px;
  display: block;
  background-image: url(../img/icon/slider-arrows.png);
  width: 18px;
  height: 34px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  display: block !important;
}

.c-slider-min .slick-prev {
  left: -32px;
  background-position: left center;
}

.c-slider-min .slick-next {
  right: -32px;
  background-position: right center;
}

.about-description .white-block .goods__item-description {
  padding-left: 0;
}

.about-description .white-block .goods__item-info {
  padding-top: 40px;
}

.c-questions {
  float: left;
  padding-top: 40px;
}

.c-questions span {
  display: inline-block;
  padding-left: 50px;
  color: #7a7a7a;
  font-size: 14px;
  font-family: "OpenSansLight", sans-serif;
  line-height: 18px;
}

.c-questions__block {
  padding-left: 50px;
  position: relative;
}

.c-questions__block i {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background-repeat: no-repeat;
  background-position: left center;
}

.c-questions__block strong {
  font-family: "OpenSansSemibold", sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.white-block .goods__item-info .yellow-btn {
  right: 45px;
}

.white-block .goods__item-info .yellow-btn a {
  padding: 12px 20px;
  border-radius: 0 0 2px 2px;
  display: inline-block;
  color: #1e1e1e;
  font-size: 14px;
  font-family: "OpenSansSemibold", sans-serif;
  background: #f1cf07;
  background: -moz-linear-gradient(top, #f1cf07 0%, #ffb600 100%);
  background: -webkit-linear-gradient(top, #f1cf07 0%, #ffb600 100%);
  background: linear-gradient(to bottom, #f1cf07 0%, #ffb600 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1cf07', endColorstr='#ffb600',GradientType=0 );
  -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.white-block .goods__item-info .yellow-btn a:hover, .white-block .goods__item-info .yellow-btn a:focus {
  text-decoration: none;
}

.tabs {
  margin-top: 30px;
}

.tabs__block {
  font-size: 0;
  margin-left: -20px;
}

.tabs__block li {
  display: inline-block;
  padding: 25px 30px;
  background-color: #1b88b2;
  margin-left: 20px;
  cursor: pointer;
}

.tabs__block li span {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "OpenSansSemibold", sans-serif;
}

.tabs__block .active {
  background-color: #fff;
}

.tabs__block .active span {
  color: #1b88b2;
}

.tabs__content {
  background-color: #fff;
  padding: 25px;
  display: block;
  width: 100%;
}

.tabs__content .about-description ul li::before {
  background-color: transparent;
  width: 11px;
  height: 10px;
  background-image: url(../img/icon/arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.c-nag__item {
  display: block;
}

.c-nag__item a {
  display: inline-block;
  color: #1b88b2;
  text-decoration: underline;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSansLight", sans-serif;
  padding: 20px 0;
  padding-left: 95px;
  position: relative;
}

.c-nag__item a:hover {
  text-decoration: none;
}

.c-nag__item a i {
  position: absolute;
  width: 95px;
  left: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: left center;
}
